$console-padding: 0.5rem;
$navbar-height: 64px;
$search-height: 56px;

:host {
  max-height: calc(100vh - $navbar-height);
}

.search {
  width: 100%;
}

.console {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1rem;
  text-decoration: none;
  padding: $console-padding;
  margin: 0;
  overflow-y: auto;
  background: rgb(33, 35, 46);
  max-height: calc(
    100vh - $navbar-height - $search-height - 2 * $console-padding
  );
  height: 100%;
}

.log {
  display: flex;
  gap: 1rem;
  min-height: 1.5rem;
  align-items: center;
  color: white;

  &.error {
    background-color: #c11d4a29;
  }

  &.warn {
    background-color: #a8750029;
  }
  &.panic {
    background-color: #c11d4a29;
  }

  .ts {
    white-space: nowrap;
  }

  .level {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    width: 84px;
    color: #fff;

    .trace {
      color: rgb(153, 155, 166);
    }
    .debug {
      color: rgb(153, 155, 166);
    }
    .info {
      color: rgb(130, 138, 255);
    }
    .warn {
      color: rgb(234, 163, 0);
    }
    .error {
      color: rgb(227, 66, 110);
    }
    .panic {
      color: rgb(227, 66, 110);
    }
  }

  .filename {
    color: gold;
  }

  .message {
    word-wrap: break-word;
  }
}
