.toolbar {
  gap: 1rem;
}

.id-field {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 4px;
  padding: 4px 8px;

  .name {
    color: #4cf490;
  }

  .value {
    margin: 0;
    text-overflow: ellipsis;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
  }

  .icon {
    cursor: pointer;
  }
}

.spacer {
  flex: 1;
}
