<div class="flex flex-col gap-4 grow">
  @if (accessError) {
    <p-message
      severity="warn"
      [text]="accessError"
      styleClass="w-full"
      icon="pi pi-lock"
    />
  }
  <p-card>
    <div class="flex gap-3">
      <p-inputgroup class="!w-1/5">
        <p-inputgroup-addon>
          <i class="pi pi-gauge"></i>
        </p-inputgroup-addon>
        <p-multiselect
          [filter]="false"
          [options]="levelsOptions"
          placeholder="Filter level"
          [(ngModel)]="selectedLevels"
          (onChange)="filterLogLevels()"
          [disabled]="!!accessError"
        />
      </p-inputgroup>
      <p-inputgroup styleClass="!w-1/4">
        <p-inputgroup-addon>
          <i class="pi pi-file"></i>
        </p-inputgroup-addon>
        <input
          pInputText
          placeholder="Filter file"
          (input)="filterFiles($event)"
          [disabled]="!!accessError"
        />
      </p-inputgroup>
      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-search"></i>
        </p-inputgroup-addon>
        <input
          pInputText
          placeholder="Filter logs"
          (input)="filterLogs($event)"
          [disabled]="!!accessError"
        />
      </p-inputgroup>
    </div>
  </p-card>
  <p-card
    styleClass="flex grow w-full h-(--logs-container-height) overflow-scroll"
  >
    @if (!accessError) {
      @if (lines$ | async; as lines) {
        @for (line of lines | reverseIterable; track $index) {
          <div class="log-line" [ngClass]="line.level">
            <span class="text-neutral-400 mr-2">{{
              line.ts.toISOString()
            }}</span>
            <span class="level" [ngClass]="line.level"
              ><i class="mr-1" [ngClass]="getLevelIcon(line.level)"></i
              >{{ line.level }}</span
            >
            <span class="ml-1.5 text-yellow-400">{{
              printFilename(line)
            }}</span
            >: {{ line.message }}
          </div>
        } @empty {
          <p class="text-center">No logs found.</p>
        }
      }
    } @else {
      <p class="text-center text-neutral-400 p-8">
        Logs are unavailable with the current identity.
      </p>
    }
  </p-card>
</div>
