<div class="flex grow flex-col max-w-[calc(100vw-2rem)]">
  <div class="h-20">
    <ngx-monaco-editor
      style="height: 100%"
      [options]="editorOptions"
      [(ngModel)]="query"
    ></ngx-monaco-editor>
  </div>
  @if (queryInfo$ | async; as queryInfo) {
    <div class="flex justify-between w-full h-fit items-center my-4">
      <p>
        <span class="pi pi-play mr-1"></span>
        {{ queryInfo.rowsCount | number }} rows - {{ queryInfo.queryTime }}ms
      </p>
      <p-button
        label="Run query"
        (click)="runQuery()"
        [disabled]="queryInfo.isLoading"
      />
    </div>
  }
  @if (data$ | async; as data) {
    @if (data.error) {
      <p-card>
        <p>{{ data.error }}</p>
      </p-card>
    } @else if (data.columns.length > 0) {
      <p-table
        [value]="data.rows"
        stripedRows
        showGridlines
        showCurrentPageReport
        paginator
        [rows]="10"
        [rowsPerPageOptions]="[10, 25, 50, 100]"
        scrollable
        scrollHeight="550px"
        size="small"
      >
        <ng-template #header>
          <tr>
            @for (col of data.columns; track $index) {
              <th [pSortableColumn]="col.name">
                <div class="flex items-center justify-between">
                  <span class="flex gap-1.5 items-center"
                    >{{ col.name }} <p-sortIcon [field]="col.name"
                  /></span>
                  <p-columnFilter
                    [type]="col.type"
                    [field]="col.name"
                    display="menu"
                  />
                </div>
              </th>
            }
          </tr>
        </ng-template>
        <ng-template #body let-rowData>
          <tr>
            <td *ngFor="let col of data.columns">{{ rowData[col.name] }}</td>
          </tr>
        </ng-template>
        <ng-template #emptymessage>
          <tr>
            <td [attr.colspan]="data.columns.length">No rows found.</td>
          </tr>
        </ng-template>
      </p-table>
    }
  }
</div>
