@if (tabs$ | async; as tabs) {
  <p-tabs
    [value]="tabs.selectedTab"
    class="flex grow rounded-sm"
    scrollable
    (valueChange)="onTabChange($event)"
  >
    <p-tablist>
      @for (tab of tabs.tabs; track tab) {
        <p-tab
          [value]="tab.id"
          (contextmenu)="onRightClick(tab.id, tab.name)"
          >{{ tab.name }}</p-tab
        >
      }
      <p-tab value="add">+</p-tab>
    </p-tablist>
    <p-tabpanels class="flex grow">
      @for (tab of tabs.tabs; track tab) {
        <p-tabpanel [value]="tab.id" class="flex grow">
          <app-query [id]="tab.id" />
        </p-tabpanel>
      }
    </p-tabpanels>
  </p-tabs>
}
