$navbar-height: 64px;

:host {
  display: block;
  height: calc(100vh - $navbar-height);
}

.db-name {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.sidenav {
  height: 100%;

  .menu {
    width: 290px;
  }
}
