<p-card styleClass="flex">
  <form class="flex justify-between items-center gap-3" [formGroup]="form">
    <div class="flex items-center gap-2 reducer flex-wrap">
      <p class="flex items-center flex-wrap gap-y-1">
        <span class="font-medium">{{ reducer.name }}</span>
        <span>(</span>
        @for (param of reducer.params; track $index) {
          <div class="param-block" [ngClass]="{ 'mr-1': !$last }">
            <span class="param-label">{{ param.name }}:</span>
            <app-type-field
              [type]="param.resolved"
              [formControlName]="param.name"
            />
            @if (!$last) {
              <span>,</span>
            }
          </div>
        }
        <span>)</span>
      </p>
    </div>
    @if (reducer.lifecycle) {
      <p-chip
        [label]="reducer.lifecycle"
        pTooltip="This reducer is bound to a lifecycle event and can't be called manually"
      />
    } @else {
      <p-button
        [loading]="isLoading"
        pTooltip="Call reducer"
        icon="pi pi-play"
        variant="outlined"
        (click)="call()"
      />
    }
  </form>
</p-card>
