<p-card styleClass="flex">
  <form class="flex justify-between items-center" [formGroup]="form">
    <div class="flex items-center gap-2 reducer">
      <p class="flex items-center">
        {{ reducer().name }}
        <span>(</span>
        @for (param of parsedParams(); track $index) {
          <div [ngClass]="{ 'mr-1': !$last }">
            <span>{{ displayParam(param) }}</span>
            @if (!disabled) {
              @if (param.type.isBoolean) {
                <p-checkBox
                  [formControlName]="param.name"
                  binary
                  [pTooltip]="getTooltip(param.type)"
                  tooltipPosition="bottom"
                />
              } @else {
                <input
                  class="reducer-input"
                  [type]="getReducerType(param.type)"
                  [pTooltip]="getTooltip(param.type)"
                  tooltipPosition="bottom"
                  [formControlName]="param.name"
                  [placeholder]="param.type"
                />
              }
            }
            @if (!$last) {
              <span>,</span>
            }
          </div>
        }
        <span>)</span>
      </p>
    </div>
    @if (reducer().lifecycle.some) {
      <p-chip
        [label]="getLifecycle()"
        pTooltip="This reducer is bound to a lifecycle event and can't be called manually"
      />
    } @else {
      <p-button
        [loading]="isLoading"
        [disabled]="disabled"
        [pTooltip]="
          disabled()
            ? 'This reducer is using custom types which are not yet supported'
            : 'Call reducer'
        "
        icon="pi pi-play"
        variant="outlined"
        (click)="call()"
      />
    }
  </form>
</p-card>
