@use "@angular/material" as mat;

@include mat.core();

$primary: mat.define-palette(mat.$green-palette, A200);
$accent: mat.define-palette(mat.$gray-palette);

$theme: mat.define-dark-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.all-component-themes($theme);
